<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ItNut - Pour une vie meilleur</title>

    {% stylesheets '@ItNutItNutBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('it_nut_it_nut_homepage') }}">ItNut</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('it_nut_it_nut_homepage') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('it_nut_it_nut_boutique') }}">Boutique</a>
                    </li>
                    <li>
                        <a href="{{ path('it_nut_it_nut_challenge') }}">Challenge</a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-nav-right">
                    <li>
                        <a href="#">Sign In</a>
                    </li>
                    <li>
                        <a href="#">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="row">

                    <div class="col-sm-5 col-lg-5 col-md-5">
                        <div class="thumbnail">
                        {% if id is empty %}
                            {% image '@ItNutItNutBundle/Resources/public/images/healthy_breakfast_vanilla.png' %}
                                        <img src="{{ asset_url }}" alt="healthy_breakfast_vanilla" />
                            {% endimage %}
                        {% else %}
                            {% for file in id %}
                                <img src="{{ asset('')  ~ file }}" />
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-7 col-lg-7 col-md-7">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li>
                                        {% if id|length > 3 %}
                                            {% for file in id %}
                                                {% set fileIdExt = file|split('/') %}
                                                {% set fileId = fileIdExt.1|split('.') %}
                                                {% set fileIdLast = fileId.0|split('_') %}
                                                <a href="{{ path('it_nut_it_nut_modify', { 'id': fileIdLast.1 }) }}">Modifier</a>
                                            {% endfor %}
                                        {% else %}
                                            <a href="{{ path('it_nut_it_nut_modify', { 'id': shortcode }) }}">Modifier</a>
                                        {% endif %}
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav">
                                        <li>
                                        {% if id|length > 3 %}
                                           {% for file in id %}
                                                {% set fileIdExt = file|split('/') %}
                                                {% set fileId = fileIdExt.1|split('.') %}
                                                {% set fileIdLast = fileId.0|split('_') %} 
                                                <a href="{{ path('it_nut_it_nut_delete', { 'id': fileIdLast.1 }) }}">Supprimer</a>
                                            {% endfor %}
                                        {% else %}
                                            <a href="{{ path('it_nut_it_nut_delete', { 'id': shortcode }) }}">Supprimer</a>
                                        {% endif %}

                                            
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-nav-right">
                                        <li>
                                            <a href="{{ path('it_nut_it_nut_boutique') }}">Tous les produits</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-7 col-lg-7 col-md-7">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4 class="pull-right">{{ prix }}€</h4>
                                <h4>{{ nom }}</h4>
                                <p>{{ description|raw }}</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>